*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
.hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg,#003166,#00152b,#2a4117,#3ab80042);
    display: flex;
    background-size: 300% 300%;
    justify-content: center;
    align-items: flex-start;
    animation: color 30s ease-in-out infinite;
}
@keyframes color{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.label{
    display: inline-block;
    width: 100%;
    font-size: 52px;
    margin-top: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: rgb(34, 243, 250);
    text-align: center;
}
input[type="date"]{
    background-color: #0080ff;
    padding: 25px;
    transform: translate(-50% ,-50%);
    position: absolute;
    left: 50%;
    top: 30%;
    font-family: monospace;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
    
}
.button{
    width: 150px;
    height: 40px;
    padding: 7.5px;
    background-color: #0080ff;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #fff;
    position: absolute;
    transform: translate(-50% ,-50%);
    top: 40%;
    left: 50%;
    
}
#Age{
    display: inline-block;
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 70%;
    left: 50%;
    color: #fff;
    
}